<!DOCTYPE html>
<html>
  <head>
    <title>Danny Castilla CV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="StyleSheet.css" rel="stylesheet">
  </head>
  <body>
    <center><section>

  nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
    a.navbar-brand.js-scroll-trigger(href='#page-top')
      span.d-block.d-lg-none Clarence Taylor
      span.d-none.d-lg-block
        img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.js-scroll-trigger(href='index.pug') Home
        li.nav-item
          a.nav-link.js-scroll-trigger(href='src/templates/cv.html') CV
        li.nav-item
          a.nav-link.js-scroll-trigger(href='src/templates/graphicDesign.html') Graphic Design
        li.nav-item
          a.nav-link.js-scroll-trigger(href='src/templates/photography.html') Photography
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#src/templates/motionGraphics.html') Motion graphics
        li.nav-item
          a.nav-link.js-scroll-trigger(href='src/templates/videoEditing.html') Video Editing

      <br>
      <h1> Danny Castilla </h1>
      <h2></h2>
      <p>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="src/photos/strawberries.jpg" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="src/photos/strawberries.jpg" style="height: 225px; width: 100%; display: block;">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="src/photos/strawberries.jpg" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    <br>

  </body>
</html>