<!DOCTYPE html>
<html>
<head>CV</head>
<body>

    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="index.pug">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="src/templates/cv.html">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="src/templates/graphicDesign.html">Graphic Design</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="src/templates/photography.html">Photography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="src/templates/motionGraphics.html">Motion graphics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="src/templates/videoEditing.html">Video Editing</a>
        </li>
      </ul>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Danny Castilla CV</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

</body>

<!-- FOOTER -->
<footer class="container">
  <p class="float-right"></p>
  <p>© Danny Castilla</p>
  <p>Email: dancastiv@gmail.com</p>
</footer>
    </main>
</html>