<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="StyleSheet.css" rel="stylesheet">
</head>
<body>

    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="index.pug">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cv.html">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="graphicDesign.html">Graphic Design</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="photography.html">Photography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="motionGraphics.html">Motion graphics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="videoEditing.html">Video Editing</a>
        </li>
      </ul>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Danny Castilla CV</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  

</body>

<!-- FOOTER -->
<footer class="container">
  <p class="float-right"></p>
  <p>© Danny Castilla</p>
  <p>Email: dancastiv@gmail.com</p>
</footer>
    </main>
</html>