<!DOCTYPE html>
<html>
  <head>
    <title>Danny Castilla CV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="StyleSheet.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cv.html">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="graphicDesign.html">Graphic Design</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="photography.html">Photography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="motionGraphics.html">Motion graphics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="videoEditing.html">Video Editing</a>
        </li>
      </ul>
    </nav>
    <br><br><br>

    <main role="main" class="container">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Danny Castilla</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
      </section>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top"
            alt="Thumbnail [100%x225]" 
            style="height: 500px; width: 100%; display: block;" 
            src="/src/photos/coffee.jpg" data-holder-rendered="true">
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" 
            alt="Thumbnail [100%x225]" 
            style="height: 500px; width: 100%; display: block;" 
            src="/src/photos/coffee.jpg" data-holder-rendered="true">
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top"
            alt="Thumbnail [100%x225]" 
            style="height: 500px; width: 100%; display: block;" 
            src="/src/photos/coffee.jpg" data-holder-rendered="true">
          </div>
        </div>
      </div>


<!-- FOOTER -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-muted">© 2022 Danny Castilla</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
          <a href="https://youtube.com/@dannycastilla8561">
            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
          </a>
        </svg></li>
      </ul>
    </footer>
  </div>
</main>
</html>

