<!DOCTYPE html>
<html>
  <head>
    <title>Danny Castilla CV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="StyleSheet.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cv.html">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="graphicDesign.html">Graphic Design</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="photography.html">Photography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="motionGraphics.html">Motion graphics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="videoEditing.html">Video Editing</a>
        </li>
      </ul>
    </nav>
    <br><br><br>

    <main role="main" class="container">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Danny Castilla</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
      </section>


<!-- FOOTER -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://youtube.com/@dannycastilla8561"><svg class="bi" width="24" height="24"><use xlink:href="#youtube"></use></svg></a></li>
      </ul>
    </footer>
  </div>
</main>
</html>